<div class="container">
  <p>Tasks Works!</p>

  <!-- Навігація між сторінками -->
  <nav class="navigation">
    <ul class="nav-list">
      <li><a routerLink="day" routerLinkActive="active">Day View</a></li>
      <li><a routerLink="week" routerLinkActive="active">Week View</a></li>
      <li><a routerLink="month" routerLinkActive="active">Month View</a></li>
    </ul>
  </nav>

  <div class="container m-auto">
    <!-- Тут рендеряться дочірні компоненти -->
    <router-outlet></router-outlet>
  </div>
</div>

<div class="container">
  <div>
    <h2>Task Manager</h2>

    <app-add-task/>

    <!-- todo inject curr date -->
    <app-task-display />

  </div>
</div>
