<div class="task-item">
  <div class="task-header">
    <input
      type="checkbox"
      name="isExecuted"
      id="isExecuted"
      [checked]="isExecuted"
      (change)="toggteIsExecuted()"
    />
    <span class="task-title">{{ task.text }}</span>
  </div>

  <div class="task-actions">
    <button (click)="showTaskDetails()">details</button>
  </div>
</div>

<div class="task-details" *ngIf="isShowDetails">
  <span class="task-priority" [class.high-priority]="task.priority > 5">
    Priority: {{ task.priority }}
  </span>

  <p class="task-details">{{ task.details }}</p>

  <div class="task-meta">
    <span class="task-date">Created: {{ task.creationDate }}</span>
    <span class="task-reward">Reward: {{ task.reward }}</span>
  </div>
</div>
